@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    height: 9px;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(209 213 219);
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(107 114 128);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(75 85 99);
    border-radius: 8px;
}